.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.expirence {
  padding: 0 20px;
  h1 {
    margin-top: 20px;
    padding: 5px;

    font-size: medium;
    text-decoration: underline;
  }
  time {
    font-size: medium;
    margin-left: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 20px 0 20px;

    ul {
      margin-top: 15px;
      padding: 10px 20px 20px;
      border-top: 1px solid gray;
    }
  }
}

.profile {
}
